<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="/assets/css/login.css">
    <link rel="shortcut icon" href="/assets/image/favicon.ico" type="image/x-icon">
    <script>
        let isLogin=JSON.parse(localStorage.getItem('isLogin'))
        if(isLogin){
            window.location.href=window.location.pathname.replace('login','index')
        }
    </script>
    <title>Đăng nhập</title>
</head>

<body >
    <div class=" login-container">
        <div class=" login-form">
            <h3 style="padding-bottom:20px;">ĐĂNG NHẬP</h3>
            <div class="form-group">
                <input type="text" name="username" class="form-control" placeholder="Tên đăng nhập *" value="" />
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Mật khẩu *" value="" />
            </div>
            <div class="form-group">
                <div class="btnSubmit" id="submit-btn" style="margin-top: 40px;">Đăng nhập</div>
            </div>
            <div class="form-group">
                <div class="register">Đăng ký tại đây!</div>
            </div> 
            <div class="spinner-border text-info" role="status" style="visibility: hidden;">
                <span class="visually-hidden"></span>
            </div>     
        </div>
    </div>
    
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


<script>
    document.addEventListener('DOMContentLoaded',()=>{
        //spiner
        const spinerEl=document.querySelector('.spinner-border')

        // validate info
        let usernameEl=document.querySelector('input[name="username"]');
        let passwordEl=document.querySelector('input[name="password"]');
        let submitLogin=document.querySelector('#submit-btn');
        let btnRegister=document.querySelector('.register');
        
        btnRegister.addEventListener('click',(e)=>{
            window.location.href=window.location.pathname.replace('login','register')
        })
        submitLogin.addEventListener('click',(e)=>{
            spinerEl.style.visibility='visible'
            fetch('https://rsa-python.herokuapp.com/api/login',{
                headers: {
                    'Accept': 'application/json',
                    'Content-Type':'application/json'
                },
                method:'POST',
                body:JSON.stringify({username:usernameEl.value,password:passwordEl.value})
            })
            .then(res=>res.json())
            .then(res=>{
                spinerEl.style.visibility='hidden'
                if(res.success){
                    let isLogin = true;
                    window.location.href=window.location.pathname.replace('login','index')
                    localStorage.setItem('isLogin',JSON.stringify(isLogin))
    
                }
                else{
                    Toastify({
                                text: res.message,
                                duration: 2000,
                                newWindow: true,
                                close: true,
                                gravity: "top", // `top` or `bottom`
                                position: "center", // `left`, `center` or `right`
                                stopOnFocus: true, // Prevents dismissing of toast on hover
                                style: {
                                    background: "linear-gradient(to right, #00b09b, #96c93d)",
                                }
                                
                            }).showToast();
                }
            })
        })
    })

</script>
</body>

</html>
