<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" name="username">
    <input type="password" name="password">
    <div id="submit">submit</div>

    <script>
        let usernameEl=document.querySelector('input[name="username"]');
        let passwordEl=document.querySelector('input[name="password"]');
        let submitLogin=document.querySelector('#submit');
        let isLogin=JSON.parse(localStorage.getItem('isLogin'))
        
        submitLogin.addEventListener('click',(e)=>{
            console.log(usernameEl.value)
            console.log(passwordEl.value)
            fetch('http://localhost:5000/api/login',{
                headers: {
                    'Accept': 'application/json',
                    'Content-Type':'application/json'
                },
                method:'POST',
                body:JSON.stringify({username:usernameEl.value,password:passwordEl.value})
            })

        .then(res=>res.json())
        .then(res=>{
            console.log(res)
            if(res.success){
                let isLogin = true;
                window.location.href=window.location.pathname.replace('login','index')
                localStorage.setItem('isLogin',JSON.stringify(isLogin))

            }
        })
        })
        if(isLogin){
            window.location.href=window.location.pathname.replace('login','index')
        }
    </script>
</body>
</html>