<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="./assets/css/login.css">
    <title>Document</title>
</head>

<body >
    <div class=" login-container">
        <div class=" login-form">
            <h3 style="padding-bottom:20px;">Register</h3>
            <div class="form-group">
                <input type="text" name="full-name" class="form-control" placeholder="Your name *" value="" />
            </div>
            <div class="form-group">
                <input type="text" name="username" class="form-control" placeholder="Your username *" value="" />
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Your password *" value="" />
            </div>
            <div class="form-group">
                <input type="password" name="check-password" class="form-control" placeholder="Confirm your password *" value="" />
            </div>
            <div class="form-group">
                <div class="btnSubmit" id="submit-btn" >Register!</div>
            </div>   
        </div>
    </div>
    
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
        let usernameEl=document.querySelector('input[name="username"]');
        let nameEl=document.querySelector('input[name="full-name"]')
        let passwordEl=document.querySelector('input[name="password"]');
        let checkPasswordEl=document.querySelector('input[name="check-password"]');
        let btnRegister=document.querySelector('#submit-btn')
        
        btnRegister.addEventListener('click',(e)=>{
            if(passwordEl.value!=checkPasswordEl.value){
                console.log('sai')
            }
            else{
                fetch('http://localhost:5000/api/register',{
                headers: {
                    'Accept': 'application/json',
                    'Content-Type':'application/json'
                },
                method:'POST',
                body:JSON.stringify({
                    username:usernameEl.value,
                    password:passwordEl.value,
                    name:nameEl.value
                })
            })
            .then(res=>res.json())
            .then(res=>{
                console.log(res)
                if(res.success){
                    let isRegister = true;
                    window.location.href=window.location.pathname.replace('register','index')
                    localStorage.setItem('isRegister',JSON.stringify(isRegister))

                }
            })
            }
            
        })
        
    </script>
</body>
</html>