<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>This
    <script>
        var string="a <br/> b"
        document.querySelector('p').innerHTML=string 
        var format = /^[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]*$/;
        console.log(string)
        function checkInput(string){
            if( /^[a-zA-Z ]+$/.test(string)){
   return true;
 }else{
   return false;
 }
        }
 
 console.log(checkInput(string));
//    function hasWhiteSpace(s) {
//   const whitespaceChars = [' ', '\t', '\n'];
//   return whitespaceChars.some(char => s.includes(char));
// }

// console.log(hasWhiteSpace("Hello World!"));
// console.log(hasWhiteSpace("HelloWorld!"));

    </script>
</body>
</html>