
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-image {
    background-image: url(../image/bg-1.jpg);
}


.header .header-logo {
    font-size: 32px;    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    padding-bottom: 15px;
}

.content {
    margin-top: 70px;
}

.content .title-content {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 600;
    padding: 10px 65px;
}

.content .image-item:hover {
    opacity: 0.9;
    cursor: pointer;
}

.content .image-list {
    margin-top: 20px;    
}

.content .share-image {
    font-size: 19px;
    text-decoration: none;
}

.footer .text-footer {
    font-size: 20px;
}

.image {
    margin-top: 50px;
    margin-bottom: 50px;
}
body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100vh;
  }
#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
margin-top: -85px;
}
.name{
    position: relative;
}
.name::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -4px;
    width: 100%;
    height: 5px;
    border-radius: 15px;
    background-color: #1e90ff;
}
.abum{
    position: absolute;
    width: 600px;
    top: -35px;left: 50%;transform: translateX(-50%);
    background-color: white;
    border-radius: 10px;
    box-shadow: -1px 7px 14px 4px rgba(218, 213, 213, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-area-avatar{
    align-items: center;display: flex;justify-content: flex-end;padding-right: 25px;position: relative;
}
li{
    list-style: none;
}
.menu-list li {
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
}
a{
    text-decoration: none;
    color: #555;
}
.menu-list{
    display: flex;align-items: center;justify-content: center;
}
.menu-list a.active{
    color: #1e90ff;
    position: relative;
}
.menu-list a.active::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -4px;
    width: 100%;
    height: 3px;
    border-radius: 15px;
    background-color: #1e90ff;
}
.image-area{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.list-item{
    position: absolute;
    bottom: -50px;
    right: 0;
    display: block;
}
.list-item li{
    background-color: #ecf0f1;
    padding: 10px 35px;
    border-radius: 10px;
    box-shadow:-1px 10px 12px 2px rgba(101,101,101,0.40); 
    font-weight: 550;
    cursor: pointer;
}
.list-item li::after{
    content: "";
    position: absolute;
    top: -5px;
    right: 30px;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: #ecf0f1;
}
.ds-none-block{
    display: none;
}
.side-bar-menu{
    position: fixed;
    width: 280px;
    height: 100%;
    background-color: white;
    z-index: 100;
    transition: 0.3s;
    left: -280px;
    opacity: 0;
    display: none;
    border-top: 1px solid rgb(204, 202, 202);
}
.side-bar-menu div{
    margin-top: 30px;
}
.bi-cloud-plus{
    font-size: 100px;
    color: #1e90ff;
    position: relative;
}
input[name="image"]{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}
.form-group{
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
input[name="image-name"]{
    outline: none;
    border: none;
    padding: 4px 12px;

}
.image-preview-area{
    width: 300px;
    height: 200px;
    overflow: hidden;
}
.border-dash{
    border: 4px dashed #1e90ff;
}
.btn-save-image {background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%)}
.btn-save-image {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    cursor: pointer;
    width: 50%;
}

.btn-save-image:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
.btn-success{
    background-color: #00c851 !important;
    border: none;
    margin-right: 20px;
    margin-bottom: 15px;
}
.btn-nomarl{
    background-color: #2bbbad !important;
    color: white;
    opacity: 0.7;
    cursor: not-allowed !important;
    margin-bottom: 15px;
}
.btn-nomarl:hover{
    color: white;
}
.card-img-top{
    height: 200px;
}
.bi-share-fill{
    position: absolute;
    right: 15px;
    bottom: 22px;
    cursor: pointer;
    color: #17a2b8;
}
@media (max-width:1000px) {
    .name{
        font-size: 20px !important;
    }
    .menu-list li {
        font-size: 18px;
    }
    .abum{
        width: 90%;
    }
    .card-img-top{
        height: 160px;
    }
}
@media (max-width:770px) {
    .menu-list{
        display: none !important;
    }
    .header .row{
        justify-content: space-between;
    }
    .header-logo{
        flex: 3;
    }
    .image-area-avatar{
        flex: 1;
    }
    .side-bar-menu{
        display: block;
    }
    .hidden-side-bar{
        left: 0;
        opacity: 1;
    }
}
@media (max-width:500px) {
    .title-content{
        font-size: 22px !important;
        padding: 10px 20px !important;
    }
    .list-item li{
        padding: 10px 10px !important;
    }
    .abum{
        width: 96%;
    }
}